<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Harry Lees Portfolio</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="styles/index.css") }}'>
</head>

<body>

        <h1>Hey There!</h1>
        <p>
            I'm Harry, a 19yr old Computer Science student at Aston University, Birmingham. Welcome to my portfolio! This site hosts all of the projects I'm most proud of. 
            You can find all of the code for these projects on Github or by clicking the links.
            <br>
            <br>

            I'm currently working at RL Automotive as a Software Developer, you can contact me through <a href='https://www.linkedin.com/in/harry-lees-1738841b1/'>LinkedIn</a>, or by sending me an <a href='mailto: harry.lees@gmail.com'>email</a>.
        </p>

        <h2>Projects</h2>

        <ul class="posts">
            <li>
                <h3><a href='https://github.com/Digital-Signage-Slideshow/DS_Slideshow'>DS Slideshow</a></h3>
                <!-- <div class="date">2021-01-01</div> -->
                <br>
                <p class='description'>
                    A lightweight Python based Digital Signage solution. 
                    This project was based around the simplicity, allowing a user to setup a Raspberry Pi (or similar) anywhere and have
                    a professional looking digital signage solution within minutes.
                </p>
            </li>

            <li>
                <h3><a href=''>Aston Unofficial Bot</a></h3>
                <!-- <div class="date">2021-01-01</div> -->
                <br>
                <p class='description'>
                    A Discord bot bespokely made for the Aston university computer science Discord channel. 
                    This bot verifies users on the Discord server ensuring they have a valid aston.ac.uk email address before entering.
                    This bot supports many more custom features for the admins on the server which currently has over 400 members.
                </p>
            </li>

            <li>
                <h3><a href=''>Asteroids Online</a></h3>
                <div class="date">2021-01-01</div>
                <p class='description'>
                    An online multiplayer Asteroids game created using a p5.js fronend with a Python backend.
                </p>
            </li>

            <li>
                <h3><a href='https://github.com/Harry-Lees/Gangplank'>Gangplank</a></h3>
                <div class="date">2021-01-01</div>
                <p>
                    A League of Legends Discord bot for tracking your game statistics.
                </p>
            </li>
        </ul>

        <footer>
            Thanks to <a href='https://www.askonomm.com/'>Asko Nõmm</a> for allowing me to use his blog theme.
        </footer>
</body>
</html>